<h1 class="section-title">Users</h1>
<hr>
<div class="user-view">
  <h2>Del profile img</h2>
  <ion-icon name="person-sharp"></ion-icon>
  <h2>Name Surname</h2>
  <h2>description</h2>
  <h2>del user</h2>
  <h2>deactivate user</h2>
</div>
<hr>
<div class="users-container">
  <ul>
    <li>
      <ion-icon name="bar-chart-sharp"></ion-icon>
      <h2>Name Surname</h2>
    </li>
    <li>
      <ion-icon name="bar-chart-sharp"></ion-icon>
      <h2>Name Surname</h2>
    </li>
    <li>
      <ion-icon name="bar-chart-sharp"></ion-icon>
      <h2>Name Surname</h2>
    </li>
  </ul>
</div>
