<div class="admin-content-page">
  <h1 class="section-title"> Articles </h1>
  <hr>
  <div class="article-content-page">
    <div>
      <div class="input-label">
        <label>Title</label>
        <input placeholder="My Article">
      </div>
      <div class="input-label">
        <label>Description</label>
        <input placeholder="This article is about something">
      </div>
      <div class="html-editor">
        <label>Content</label>
        <angular-editor
          [config]="editorConfig"
          [(ngModel)]="htmlContent"
          required
          #newContent>
        </angular-editor>
      </div>
    </div>
    <div style="padding: 0.5rem; padding-right: 0; min-width: 15rem">
      <div class="grid">
        <button class="button">Publish</button>
        <button class="button">Save</button>
        <button class="button-red">Discard</button>
        <button class="button-red">Delete</button>
      </div>
      <hr style="margin: 0.5rem 0 0.5rem 0;">
      <div class="label-paragraf">
        <label>Last publish date</label>
        <p>11 Jan 2023</p>
      </div>
    </div>
  </div>
  <div class="input-label">
    <hr>
    <label>Articles list</label>
    <ul class="resource-list">
      <li class="active">
        <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
        <div class="separator"></div>
        <div class="main-content">
          <p>Article Title</p>
          <p>My description of the article</p>
        </div>
        <div class="separator" style="margin: 0 5px 0 5px;"></div>
        <p style="margin: 0 1rem 0 1rem;">14 Jan 2023</p>
        <ion-icon name="close-circle-sharp" class="button"></ion-icon>
      </li>
      <li>
        <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
        <div class="separator"></div>
        <div class="main-content">
          <p>Article Title</p>
          <p>My description of the article</p>
        </div>
        <div class="separator" style="margin: 0 5px 0 5px;"></div>
        <p style="margin: 0 1rem 0 1rem;">14 Jan 2023</p>
        <ion-icon name="close-circle-sharp" class="button"></ion-icon>
      </li>
      <li>
        <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
        <div class="separator"></div>
        <div class="main-content">
          <p>Article Title</p>
          <p>My description of the article</p>
        </div>
        <div class="separator" style="margin: 0 5px 0 5px;"></div>
        <p style="margin: 0 1rem 0 1rem;">14 Jan 2023</p>
        <ion-icon name="close-circle-sharp" class="button"></ion-icon>
      </li>
      <li>
        <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
        <div class="separator"></div>
        <div class="main-content">
          <p>Article Title</p>
          <p>My description of the article</p>
        </div>
        <div class="separator" style="margin: 0 5px 0 5px;"></div>
        <p style="margin: 0 1rem 0 1rem;">14 Jan 2023</p>
        <ion-icon name="close-circle-sharp" class="button"></ion-icon>
      </li>
      <li>
        <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
        <div class="separator"></div>
        <div class="main-content">
          <p>Article Title</p>
          <p>My description of the article</p>
        </div>
        <div class="separator" style="margin: 0 5px 0 5px;"></div>
        <p style="margin: 0 1rem 0 1rem;">14 Jan 2023</p>
        <ion-icon name="close-circle-sharp" class="button"></ion-icon>
      </li>
      <li>
        <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
        <div class="separator"></div>
        <div class="main-content">
          <p>Article Title</p>
          <p>My description of the article</p>
        </div>
        <div class="separator" style="margin: 0 5px 0 5px;"></div>
        <p style="margin: 0 1rem 0 1rem;">14 Jan 2023</p>
        <ion-icon name="close-circle-sharp" class="button"></ion-icon>
      </li>
      <li>
        <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
        <div class="separator"></div>
        <div class="main-content">
          <p>Article Title</p>
          <p>My description of the article</p>
        </div>
        <div class="separator" style="margin: 0 5px 0 5px;"></div>
        <p style="margin: 0 1rem 0 1rem;">14 Jan 2023</p>
        <ion-icon name="close-circle-sharp" class="button"></ion-icon>
      </li>
      <li>
        <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
        <div class="separator"></div>
        <div class="main-content">
          <p>Article Title</p>
          <p>My description of the article</p>
        </div>
        <div class="separator" style="margin: 0 5px 0 5px;"></div>
        <p style="margin: 0 1rem 0 1rem;">14 Jan 2023</p>
        <ion-icon name="close-circle-sharp" class="button"></ion-icon>
      </li>
      <li>
        <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
        <div class="separator"></div>
        <div class="main-content">
          <p>Article Title</p>
          <p>My description of the article</p>
        </div>
        <div class="separator" style="margin: 0 5px 0 5px;"></div>
        <p style="margin: 0 1rem 0 1rem;">14 Jan 2023</p>
        <ion-icon name="close-circle-sharp" class="button"></ion-icon>
      </li>
    </ul>
</div>