<div class="admin-content-page">
  <h1 class="section-title"> Articles </h1>
  <hr>
  <div style="padding-right: 1rem;">
    <div class="input-label">
      <label>Title</label>
      <input placeholder="My Article">
    </div>
    <div class="input-label">
      <label>Description</label>
      <input placeholder="This article is about something">
    </div>
    <div class="html-editor">
      <label>Content</label>
      <textarea placeholder="<h1>My article</h1>"></textarea>
    </div>
  </div>
</div>