<div class="admin-content-page">
  <h1 class="section-title"> Dashboard </h1>
  <hr>
  <div class="card-container">
    <div class="card">
      <p class="card-title">Articles</p>
      <p class="card-content">18</p>
    </div>
    <div class="card">
      <p class="card-title">Tags</p>
      <p class="card-content">250</p>
    </div>
    <div class="card">
      <p class="card-title">Resources</p>
      <p class="card-content">2500</p>
    </div>
    <div class="card">
      <p class="card-title">Users</p>
      <p class="card-content">25</p>
    </div>
  </div>
</div>
