<h1 class="section-title"> Tags </h1>
<hr>
<div class="pag-menu">
  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="#">5</a>
      <a href="#">10</a>
      <a href="#">20</a>
    </div>
  </div> 
  <ion-icon name="arrow-back-circle-sharp"></ion-icon>
  <div class="page-number">
    <p>2</p>
  </div>
  <ion-icon name="arrow-forward-circle-sharp"></ion-icon>
</div>
<div class="list-scroller">
  <ul class="tag-list">
    <li>
      <h4>MyTag</h4>
      <ion-icon name="close-circle-sharp"></ion-icon>
    </li>
    <li>
      <h4>MyTag</h4>
      <ion-icon name="close-circle-sharp"></ion-icon>
    </li>
    <li>
      <h4>MyTag</h4>
      <ion-icon name="close-circle-sharp"></ion-icon>
    </li>
    <li>
      <h4>MyTag</h4>
      <ion-icon name="close-circle-sharp"></ion-icon>
    </li>
    <li>
      <h4>MyTag</h4>
      <ion-icon name="close-circle-sharp"></ion-icon>
    </li>
    <li>
      <h4>MyTag</h4>
      <ion-icon name="close-circle-sharp"></ion-icon>
    </li>
    <li>
      <h4>MyTag</h4>
      <ion-icon name="close-circle-sharp"></ion-icon>
    </li>
  </ul>
</div>
