<div class="admin-content-page">
  <h1 class="section-title"> Resources </h1>
  <hr>
  <div class="nav-container">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <div class="navigation">
      <ul>
        <li routerLinkActive="active">
          <a routerLink="/admin/resources/images">
            <span class="icon"><ion-icon name="image-sharp"></ion-icon></span>
            <span class="title">Images</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/admin/resources/videos">
            <span class="icon"><ion-icon name="videocam-sharp"></ion-icon></span>
            <span class="title">Videos</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/admin/resources/documents">
            <span class="icon"><ion-icon name="document-sharp"></ion-icon></span>
            <span class="title">Documents</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
