.admin-content-page {
  padding-left: 0;
  padding-right: 0;
}

hr {
  margin-bottom: 0;
  border: 2px solid var(--navigation-bg-color);
}

.content {
  min-height: 0;
}

.content:not(:first-child) {
  padding-left: 70px;
}

.nav-container {
  position: relative;
}

.navigation {
  min-height: 0;
  border-left: none;
  border-right: 10px solid var(--navigation-bg-color);
  box-shadow: none;
  box-shadow: -15px 0 0 var(--accent-color);
  z-index: 3;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 0;
  padding-right: 5px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.navigation ul a {
  border-radius: none;
}

.navigation ul li.active a::before {
  left: 0;
  right: auto;
  box-shadow: -15px 15px 0 var(--accent-color);
}

.navigation ul li.active a::after {
  left: 0;
  right: auto;
  box-shadow: -15px -15px 0 var(--accent-color);
}

.navigation ul li:hover a::before {
  left: 0;
  right: auto;
  box-shadow: -15px 15px 0 var(--navigation-hover-color);
}

.navigation ul li:hover a::after {
  left: 0;
  right: auto;
  box-shadow: -15px -15px 0 var(--navigation-hover-color)
}

.resource-preview {
  display: flex;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.resource-preview-content .header {
  display: flex;
}

.resource-preview-content .header * {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.7rem;
}

.resource-preview-content .header .extension {
  font-size: 1rem;
  line-height: 1.9rem;
}

.resource-preview-content .header .extension-wrapper {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2.1rem;
}

.resource-preview-content .header *:first-child {
  margin-left: 5px;
}
.resource-preview-content .header *:last-child {
  margin-right: 5px;
}

.resource-preview img {
  max-width: 25vh;
  max-height: 25vh;
}

.resource-preview-spec {
  padding-left: 5px;
}
