<div class="admin-content-page">
  <h1 class="section-title">Page Customization</h1>
  <hr>

  <div class="container">
    <div>
      <h2>Title</h2>
      <input type="text" placeholder="My About Page"/>
    </div>
    <div>
      <h2>Footer</h2>
      <input type="text" placeholder="Footer content goes here. Embedded html is allowed"/>
    </div>
    <div>
      <h2>About Page</h2>
      <ul class="about-section-container">
        <li class="about-section">
          <div>
            <input type="checkbox">
            <ion-icon name="menu-sharp"></ion-icon>
          </div>
          <div class="img-viewer">
            <img src="assets/img/profile_pic.png">
            <ion-icon name="create-sharp"></ion-icon>
          </div>
          <textarea placeholder="About section content. Embedded html is allowed"></textarea>
        </li>
      </ul>
    </div>
  </div>
</div>