<div class="resources-content-page">
  <ul class="resource-list">
    <li class="active">
      <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
      <div class="separator"></div>
      <div class="main-content">
        <p>Image Name</p>
        <p>assets/img/url</p>
      </div>
      <ion-icon name="close-circle-sharp" class="button"></ion-icon>
    </li>
    <li>
      <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
      <div class="separator"></div>
      <div class="main-content">
        <p>Image Name</p>
        <p>assets/img/url</p>
      </div>
      <ion-icon name="close-circle-sharp" class="button"></ion-icon>
    </li>
    <li>
      <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
      <div class="separator"></div>
      <div class="main-content">
        <p>Image Name</p>
        <p>assets/img/url</p>
      </div>
      <ion-icon name="close-circle-sharp" class="button"></ion-icon>
    </li>
    <li>
      <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
      <div class="separator"></div>
      <div class="main-content">
        <p>Image Name</p>
        <p>assets/img/url</p>
      </div>
      <ion-icon name="close-circle-sharp" class="button"></ion-icon>
    </li>
    <li>
      <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
      <div class="separator"></div>
      <div class="main-content">
        <p>Image Name</p>
        <p>assets/img/url</p>
      </div>
      <ion-icon name="close-circle-sharp" class="button"></ion-icon>
    </li><li>
      <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
      <div class="separator"></div>
      <div class="main-content">
        <p>Image Name</p>
        <p>assets/img/url</p>
      </div>
      <ion-icon name="close-circle-sharp" class="button"></ion-icon>
    </li><li>
      <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
      <div class="separator"></div>
      <div class="main-content">
        <p>Image Name</p>
        <p>assets/img/url</p>
      </div>
      <ion-icon name="close-circle-sharp" class="button"></ion-icon>
    </li><li>
      <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
      <div class="separator"></div>
      <div class="main-content">
        <p>Image Name</p>
        <p>assets/img/url</p>
      </div>
      <ion-icon name="close-circle-sharp" class="button"></ion-icon>
    </li><li>
      <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
      <div class="separator"></div>
      <div class="main-content">
        <p>Image Name</p>
        <p>assets/img/url</p>
      </div>
      <ion-icon name="close-circle-sharp" class="button"></ion-icon>
    </li><li>
      <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
      <div class="separator"></div>
      <div class="main-content">
        <p>Image Name</p>
        <p>assets/img/url</p>
      </div>
      <ion-icon name="close-circle-sharp" class="button"></ion-icon>
    </li><li>
      <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
      <div class="separator"></div>
      <div class="main-content">
        <p>Image Name</p>
        <p>assets/img/url</p>
      </div>
      <ion-icon name="close-circle-sharp" class="button"></ion-icon>
    </li><li>
      <ion-icon name="image-sharp" style="width: 4.6rem; height: 4.6rem;"></ion-icon>
      <div class="separator"></div>
      <div class="main-content">
        <p>Image Name</p>
        <p>assets/img/url</p>
      </div>
      <ion-icon name="close-circle-sharp" class="button"></ion-icon>
    </li>
  </ul>
</div>
